body {
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fafafa;
}

nav { 
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    background-color: #008CBA;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav h1 {
    flex: auto;
    margin: 0;
}

nav h1 a {
    padding: 0.25rem 0.5rem;
}

nav ul  {
    display: flex;
    list-style: none;
    margin: 0; padding: 0;
}

nav ul li a, nav ul li span, header .action {
    display: block; 
    padding: 0.5rem;
}

.content {
    padding: 0 .5rem;
}

.pieces-container {
    width: 260px;
}

#pieces-list {
    list-style: none;
    padding: 0;
}

#pieces-list li {
    padding: 6px;
    border: 1px solid black;
    margin: 4px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    transition: background-color .1s linear;
}

#pieces-list li:hover {
    background-color: #eee;
}

.remove-button {
    border: 0;
    background-color: unset;
    color: #ff6347;
    border: 1px solid #ff6347;
    border-radius: 3px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.remove-button:hover {
    background-color: #ff6347;;
    color: white;
}

span.piece-id {
    background-color: #ffa500;
    border-radius: 3px;
    font-size: .8rem;
    width: 40px;
    text-align: center;
}

.add-piece {
    padding: 6px;
    border: 1px solid black;
    margin: 4px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

#width-input, #height-input {
    width: 70px;
}

.add-button {
    border: 0;
    background-color: unset;
    color: #008CBA;
    border: 1px solid #008CBA;
    border-radius: 3px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.add-button:hover {
    background-color: #008CBA;;
    color: white;
}
