{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='piece.js') }}"></script>
<script src="{{ url_for('static', filename='app.js') }}"></script>
<script>document.addEventListener("DOMContentLoaded", () => {
    app.initialize();

    // add test pieces
    app.addPiece({ width: 300.0, height: 40.0});
    app.addPiece({ width: 450.0, height: 95.0});
    app.addPiece({ width: 55.0, height: 490.0});
});</script>
{% endblock %}

{% block content %}
<div class="pieces-container">
    <h2>Pieces</h2>
    <ul id="pieces-list"></ul>
    <template id="piece-template">
        <li>
            <span class="piece-id"></span>
            <label></label>
            <button class="remove-button">x</button>
        </li>
    </template>
</div>
{% endblock %}